* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("mersbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 912px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 50px;
}

.header h1 {
    color: white;
    font-size: 42px;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}


.back-btn {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 8px 18px;
    color: white;
    background: rgba(0,0,0,0.5);
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

.back-btn:hover {
    background: #9F7437;
    border-color: #E3D293;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.form-box {
    width: 470px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background: rgba(0,0,0,0.65);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.3);
}
.input {
    width: 100%;
    height: 55px;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    background: rgba(255,255,255,0.8);
    transition: 0.3s;
}
.btnn {
    width: 100%;
    height: 55px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #A77A3C, #E3D293);
    color: black;
    transition: 0.3s;
}

.btnn:hover {
    filter: brightness(1.15);
    transform: scale(1.03);
}


