body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #0f0f0f;
    color: #fff;
    background-image: url(svadba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 420px;
    margin: 100px  auto;
    background: #1a1a1a;
    padding: 35px ;
    border-radius: 14px;
    box-shadow: 0 5px 25px rgba(255, 215, 0, 0.15);
    border: 1px solid rgba(255, 215, 0, 0.3);
    
}
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffd700;
    font-weight: 600;
}
form{
  padding: 0 15px;
}
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    color: #ddd;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
}

.input-group select {
    width: 100%;
    padding: 12px;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
}



.btn {
    width: 100%;
    padding: 14px;
    background: #ffd700;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}

.btn:hover {
    background: #e6c200;
}

