body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    background-image:url(бг.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 400px;
    margin: 70px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form .input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}
.btn {
    width: 100%;
    padding: 12px;
    background: #4a73ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #2e54d4;
}
.A1{
    color: white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}
.back{
    background-color: rgb(94, 63, 63);
    border: 2px solid white;
    width: 100px;
    height: 36px;
    border-radius: 15px;
    align-items: center;
    margin: 30px 50px;
}

